<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-md-2">
                        <h5>사용자 조회</h5>
                    </div>
                </div>
                

            </nb-card-header>
            <nb-card-body>
                <form novalidate [formGroup]="form">
                    <div class="form-group row">
                        <label for="username" class="label col-sm-1 col-form-label">User Name</label>
                        <div class="col-sm-2">
                            <input type="text" nbInput id="username" formControlName="username" class="form-control" placeholder="User Name" />
                        </div>

                        <label for="firstName" class="label col-sm-1 col-form-label">First Name</label>
                        <div class="col-sm-2">
                            <input type="text" nbInput id="firstName" formControlName="firstName" class="form-control" placeholder="First Name" />
                        </div>
                
                        <label for="lastName" class="label col-sm-1 col-form-label">Last Name</label>
                        <div class="col-sm-2">
                            <input type="text" nbInput id="lastName" formControlName="lastName" class="form-control" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="jobTitle" class="label col-sm-1 col-form-label">Job Title</label>
                        <div class="col-sm-2">
                            <input type="text" nbInput id="jobTitle" formControlName="jobTitle" class="form-control" placeholder="Job Title" />
                        </div>

                        <label for="selected" class="label col-sm-1 col-form-label">Role</label>
                        <div class="col-sm-2">
                            <nb-select id="role" placeholder="Select Option" formControlName="role" [(selected)]="role" >
                                <nb-option [value]="null"> ALL </nb-option>
                                <nb-option [value]="role" *ngFor="let role of roles">{{role}}</nb-option>
                            </nb-select>
                        </div>
                       
                    </div>

                    <div class="form-group row">
                        <label for="ageFrom" class="label col-sm-1 col-form-label">Age From</label>
                        <div class="col-sm-2">
                            <input type="text" id="ageFrom" formControlName="ageFrom" class="form-control" placeholder="age from" />
                        </div>
                
                        <label for="ageTo" class="label col-sm-1 col-form-label">Age To</label>
                        <div class="col-sm-2">
                            <input type="text" id="ageTo" formControlName="ageTo" class="form-control" placeholder="age to" />
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-primary float-right" (click)="search(form.value)">Search</button>
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        
                        
                    </div> -->
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

